<?xml version="1.0"?>
<model>
  <name>3DR Iris with bumper for benchmarking for Kari</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_kari.sdf</sdf>

  <author>
   <name>jaeeun</name>
   <email>jaeeun@subak.io</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with a bumper sensor.
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
    The sensor has been added by Nico van Duijn.
  </description>
</model>
